@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

html{
    font-family: Pretendard Variable, sans-serif;
    caret-color: transparent;
    cursor: default;
}

body{
    background-color: #1a1a1a;
    overflow-x: hidden;
    color: #e6e6e6;
}

footer{
    margin-top: 50px;
    border-top: 1px solid #919191;
    color: #919191;    
}

#status-bar{
    position: sticky;
    top: 56px;
    height: 40px;
    width: 100vw;
    background-color: #e65100;
    color: white;
    font-weight: 500;
    z-index: 997;
}
@media only screen and (min-width: 601px){
    #status-bar{
        top: 64px;
    }
}
#status-bar>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

/* player area */
#player{
    width: 100vw;
    background-color: #3b3b3b;
}

#player p, i{
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
    display: inline-block;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

#player-control-btn{
    border: none;
    background: none;
    color: #e6e6e6;
}

/* video area */
#video-container{
    position: relative; /* 자식 요소의 위치를 정의하기 위해 상대적 위치 설정 */
    width: 100%; /* 가로 폭을 100%로 설정 */
    padding-top: 56.25%; /* 세로 높이를 가로 폭의 56.25%로 설정 (16:9 비율) */
}
#video-player{
    position: absolute; /* 컨테이너 내에서 절대 위치 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* channel area */
#channel-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#no-channel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;
}

.channel-item{
    position: relative;
    overflow: hidden;
    min-width: 200px;
    max-width: 400px;
    flex-grow: 1;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    aspect-ratio: 1.6;
}
@media(max-width: 1100px){
    .channel-item{
        max-width: 300px;
    }
}

@media(max-width: 760px){
    #channel-list{
        flex-direction: column;
    }
    .channel-item{
        max-width: 600px;
    }
}

.channel-item>img{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.2s ease;
}

.channel-item:hover img{
    transform: scale(1.2);
    filter: blur(5px);

}
  
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.9023984593837535) 35%, rgba(255,255,255,0) 100%);
}


.channel-info{
    position: absolute;
    bottom: 15px;
    left: 20px;
    display: flex;
}

.channel-info p{
    margin: 0;
}

.channel-info i{
    margin-top: 15px;
    margin-right: 10px;
}

.channel-name{
    font-size: 20px;
    font-weight: 600;
}